:root {
    --hint-1 : blue;
    --hint-2 : green;
    --hint-3: red;
    --hint-4: darkblue;
    --hint-5: darkred;
    --hint-6: teal;
    --hint-7: black;
    --hint-8: gray;    

    --silver: #c0c0c0;
    --dominant-background-color: #161616;
    --text-color: #85C1D5;

    --divider: 1rem;
}

* {
    color: var(--text-color);
}

/*Styles for page*/
p {
    margin-bottom: var(--divider);
}

h1,h2 {
    margin-bottom: var(--divider);
}

header {
    width: 90%;
    justify-self: center;
}

main {
    width: 90%;
    justify-self: center;
    justify-items: center;
}

body{
    background-color: lightslategray;
    background-image: url("/assets/images/tile-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

hr {
    border: 1px solid var(--silver);
    opacity: 1;
}

.divider {    
    margin-bottom: var(--divider);
}

.content-container {
    width: 100%;
}

#game-area {
    border: 2px solid var(--silver);
    padding: 0 var(--divider);
}

#game-header {
    display: flex;
    justify-content: space-evenly;
}

.color-silver{
    color: var(--silver);
}

.toast{
    background-color: var(--dominant-background-color);
}

.modal-content{
    background-color: var(--dominant-background-color);
}

.help-button {
    padding: 0;
    color: var(--text-color);
}

/* Code snippet taken from ChatGPT*/
.btn-close {
  filter: brightness(0) saturate(100%) invert(85%) sepia(0%) saturate(0%) hue-rotate(163deg) brightness(95%) contrast(92%);
}

#reset-button {
    height: 25px;
    width: 25px;
    background-image: url("../images/game-face.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#main-carousel {
    color: var(--text-color);
}

/*Styles for field*/
.tile {
    height: 25px;
    width: 25px;
    margin: 0;
    background-color: var(--silver);
    text-align: center;
}

.tile-button:hover {    
    background-color: gray;
}

.tile-hover{
    background-color: gray;
}

.tile-mine {
    background-image: url("../images/mine.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.hit
{
    background-color: red;
}

.hit-correct
{
    background-color: green;
}

.flagged {
    background-image: url("../images/redflag.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.game-row {
    display: flex;
}

.hint-1 {
    color: var(--hint-1);
}

.hint-2 {
    color: var(--hint-2);    
}

.hint-3 {
    color: var(--hint-3);    
}

.hint-4 {
    color: var(--hint-4);    
}

.hint-5 {
    color: var(--hint-5);    
}

.hint-6 {
    color: var(--hint-6);    
}

.hint-7 {
    color: var(--hint-7);    
}

.hint-8 {
    color: var(--hint-8);    
}
