#game-area {
    border: 2px solid #c0c0c0;
}

#game-header {
    display: flex;
    justify-content: space-evenly;
}

.tile {
    height: 25px;
    width: 25px;
    margin: 0;
    background-color: #c0c0c0;
}

.row {
    display: flex;
}