header {
    width: 90%;
    justify-self: center;
}

main {
    width: 90%;
    justify-self: center;
    justify-items: center;
}

hr {
    border: 1px solid #c0c0c0;
    opacity: 1;
}

#game-area {
    min-width: 100%;
    border: 2px solid #c0c0c0;
}

#game-header {
    display: flex;
    justify-content: space-evenly;
}

.tile {
    height: 25px;
    width: 25px;
    margin: 0;
    background-color: #c0c0c0;
    text-align: center;
}

.tile-mine {
    background-image: url("../images/mine.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.hit
{
    background-color: red;
}

.hit-correct
{
    background-color: green;
}

.flagged {
    background-image: url("../images/redflag.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.game-row {
    display: flex;
}